/* External-font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header-bar{
    background-color:#292929 ;
}

.input-dark{
   background-color: #444; 
   border: transparent;
   color: #ffffff;
}
.input-dark:focus{
    color: #ffffff; 
    background-color: #555;
    border-color: #80bdff;
    outline:0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123,255, 0.25 );
}